@model Os.Brain.Models.WaterPayment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WaterPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.addTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.addTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prices)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prices)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.remark)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</p>
