@model Os.Brain.Models.WaterMeter

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WaterMeter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wm_LogName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wm_LogName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wm_Pwd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wm_Pwd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wm_Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wm_Tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wm_Weixin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wm_Weixin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isNeedPay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isNeedPay)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Wm_IdCard">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
