@model Os.Brain.Mvc.Pager.PageList<Os.Brain.Models.CMS.Cms_News>

@{
    Layout = "~/Views/Shared/_Modules.cshtml";
}

@section CssBlock{
    .tab-list td{text-align:center}
}

@section Btn{
    <li class="add"><i></i><a asp-action="Create">添加</a></li>
}

<table class="tab-list">
    <tr>
        <th>标题</th>
        <th width="60">点击次数</th>
        <th width="80">创建时间</th>
        <th width="80">创建人</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr class="tr@(Model.ToList().IndexOf(item)%2+1)">
        <td>
            <a asp-action="Details" asp-route-id="@item.News_ID" title="@item.News_Title">@item.News_Subtitle</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.News_Hits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.News_AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.News_AddUser)
        </td>
    </tr>
    }

</table>

@Html.Raw(Os.Brain.Mvc.Pager.Pager.Pager1(Context.Request.Path.Value, Model.CurrPage, Model.PageSize, Model.PageCount, Model.RecordCount))


